### Flask.Python Stack ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

### env file
.env

###databse
*.db 

### session files
flask_session

### user files
static/users/*.jpg
static/users/*.png
static/users/*.jpeg
