{% extends "layout.html" %}

{% block nav %}
  <nav class="bg-light border navbar navbar-expand-md navbar-light sticky-top">
    <div class="container-fluid">
        <h3 class="">Your messages</h3>
        <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ms-auto mt-2">
                <li class="nav-item"><a class="nav-link" href="/dashboard"><span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill balance" viewBox="0 0 16 16">
                  <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z"/>
                </svg></span> Dashboard</a></li>
            </ul>
      </div>
    </div>
  </nav>
{% endblock %}

{% block main %}
    <div style="background-color: black;">
        <div class="container py-3 vh-100">
            {% for message in messages %}
            <div class="card mb-3">
                <h5 class="card-header">Sender: {{ message.sender }}</h5>
                <div class="card-body">
                  <p class="card-text">{{ message.message }}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">{{ (message.time).strftime("%d/%m/%Y %I:%M %p") }}</li>
                </ul>
              </div>
              {% endfor %}
              {% if not messages %}
              <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
                <h3 class="text-white-50">Your messages will be displayed here</h3>
              </div>
              {% endif %}
        </div>
      </div>

{% endblock %}
