{% extends "layout.html" %}

{% block head %}

<link rel="stylesheet" href="../static/css/form.css">

{% endblock %}

{% block main %}

<section class="vh-80 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
            <form action="" method="post">
                <div class="mb-md-5 mt-md-4 pb-5">
                    <h2 class="fw-bold mb-2 text-uppercase">Sign Up</h2>
                    <p class="text-white-50 mb-5">Register a new Account</p>
    
                    <div class="form-outline form-white mb-4">
                        <input type="username" id="username" class="form-control form-control-lg" placeholder="username" required/>
                    </div>
    
                    <div class="form-outline form-white mb-4">
                        <input type="name" id="name" class="form-control form-control-lg" placeholder="name" required/>
                    </div>

                    <div class="form-outline form-white mb-4">
                        <input type="email" id="email" class="form-control form-control-lg" placeholder="example@email.com" required/>
                    </div>
    
                    <div class="form-outline form-white mb-4">
                        <input type="password" id="password" class="form-control form-control-lg" placeholder="password" required/>
                    </div>

                    <div class="form-outline form-white mb-4">
                        <input type="password" id="confirmPassword" class="form-control form-control-lg" placeholder="Retype password" required/>
                    </div>
                    <p id="nomatch"></p>
    
                    <!-- Checkbox -->
                    <div class="form-check d-flex justify-content-start mb-4">
                        <input class="form-check-input" type="checkbox" value="" id="form1Example3" />
                        <label class="form-check-label ps-1" for="form1Example3"> Remember password </label>
                    </div>  
                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Sign Up</button>
    
                </div>
            </form>
              <div>
                <p class="mb-0">Already have an account? <a href="/login" class="text-white-50 fw-bold">Log In</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="../static/js/form.js"></script>
{% endblock %}