{% extends "layout.html" %}


{% block head %}

<link rel="stylesheet" href="../static/css/form.css">
<!-- <link href="../static/css/birthday.css" rel="stylesheet"> -->

{% endblock %}

{% block main %}

<section class="gradient-custom">
    <div class="container py-5">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
                <div class="mb-md-5 mt-md-4 pb-3">
                    {% if error %}
                      <p class="text-danger">{{ error }}</p>
                    {% endif %}
                    <h2 class="fw-bold mb-2 text-uppercase">Settings</h2>
                    <h5 class="text-white mb-0">Select display images to customise your birthday experience 🎉</h5>
                    <p class="text-white mb-3">Accepted image formats are png, jpg and jpeg</p>

                    <form action="/set" method="post" enctype="multipart/form-data">

                        <div class="mb-3">
                            <label for="cover-image" class="col-form-label">Select cover image to display on birthday page</label>
                            <input type="file" class="form-control" id="coverImage" name="coverImage">
                        </div>
                        <p class="text-white-50 mb-3">Cover image</p>
                        <div class="mb-3 d-flex justify-content-center">
                            {% if request.args.get('cover') %}
                            <img src="../static/users/{{ request.args.get('cover') }}" class="img-fluid rounded-3 img-max" alt="...">
                            {% elif image %}
                            <img src="../static/users/{{ image.cover }}" class="img-fluid rounded-3 img-max" alt="...">
                            {% else %}
                            <img src="../static/users/form.jpg" class="img-fluid rounded-3 img-max" alt="...">
                            {% endif %}
                        </div>

                        <div class="mb-3">
                            <label for="form-image" class="col-form-label">Select image to display on birthday form</label>
                            <input type="file" class="form-control" id="formImage" name="formImage">
                        </div>
                        <p class="text-white-50 mb-3">Form image</p>
                        <div class="mb-3 d-flex justify-content-center">
                            {% if request.args.get('form') %}
                            <img src="../static/users/{{ request.args.get('form') }}" class="img-fluid rounded-3 img-max" alt="...">
                            {% elif image %}
                            <img src="../static/users/{{ image.form }}" class="img-fluid rounded-3 img-max" alt="...">
                            {% else %}
                            <img src="../static/users/form.jpg" class="img-fluid rounded-3 img-max" alt="...">
                            {% endif %}                        
                        </div>

                        <div class="mb-3">
                            <label for="thanks-image" class="col-form-label">Select image to display on thankyou page</label>
                            <input type="file" class="form-control" id="thanksImage" name="thanksImage">
                        </div>
                        <p class="text-white-50 mb-3">Thankyou image</p>
                        <div class="mb-5 d-flex justify-content-center">
                            {% if request.args.get('thanks') %}
                            <img src="../static/users/{{ request.args.get('thanks') }}" class="img-fluid rounded-3 img-max" alt="...">
                            {% elif image %}
                            <img src="../static/users/{{ image.thanks }}" class="img-fluid rounded-3 img-max" alt="...">
                            {% else %}
                            <img src="../static/users/form.jpg" class="img-fluid rounded-3 img-max" alt="...">
                            {% endif %}                        
                        </div>
        
                        <button class="btn btn-outline-light btn-lg px-5" style="border-radius: 5rem;" type="submit">Update settings</button>
        
                        </div>
                    </form>
              <div>
                <p class="mb-0">Return to profile. <a href="/dashboard" class="text-white-50 fw-bold">Go back</a>
                </p>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
